
body{
    background-color: rgb(223, 213, 213);
}
h1{
    color: rgb(18, 102, 18);
}
button{
      background-color: lightgreen;
      color: black;
      text-align: justify;
      font-size: 50px;
}

#divlogo{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}
.divButton{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}
.divCadastro{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: left;  
}
